<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" href="/style.css">

     
    <title>Document</title>
</head>
<body>

    
    <h2>
        <%- include('partials/nav') -%>

        This is home page
        <form id="myform1" action="/home" method="post">
            <input type="text" name="item">
            <button type="submit">add</button>
        </form>
        <!-- <form id="myform2" action="/home" method="post">
            <input type="text" name="item2">
            <button type="submit">remove</button>
        </form> -->
       <ul>
        <%wish.forEach(item=>{ %>
               <li><%= item.wish%></li>
           <%})%>
        
           

       </ul>
            

    </h2>
    



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
            
</body>
</html>